{% extends "base.html" %}
{% block content %}

<form  class="edit_sport" action="/sports/{{all_sports.id}}" method="POST">
    <div>
        <label for="name">Sport:</label>
        <input type="text" name="name" id="name" value = "{{ all_sports.name }}" required autofocus>
    </div>
    <div>
        <label for="active">Active:</label>
        <select name="active" id="active">
            
            <option value="true">Active</option>
            </option>

            <option value="false">
                 Deactivate
            </option>
        </select>
    </div>
        

        
    <button class="button4" type="submit" >Update Sport</button>
</form>
{% endblock %}