{% extends "base.html" %}
{% block content %}

<form class="new_sport" action="/sports" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required autofocus>
    </div>
    <div>
        <label for="active">Active:</label>
        <select name="active" id="active">
            
            <option value="true">Active</option>
            </option>

            <option value="false">
                 Deactivate
            </option>
        </select>
    </div>
    
   
    <button class="button2" type="submit">Add Sport!</button>
</form>
{% endblock %}