<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <h1>E - Quipment</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/products">All Products</a></li>
                <li><a href="/sports">All Sports</a></li>
                <li><a href="/products/new">Add Product</a></li>
                <li><a href="/sports/new">Add Sport</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <h2>One Company Since 1888</h2>
        
    </footer>
    
</body>
</html>